<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Server" connectionString="Url = http://localhost/RavenDB; Database = MyService"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net >
    <mailSettings>
      <smtp from="myservicetest18@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 userName="myservicetest18@gmail.com"
                 password="myservicetest1818"
                 enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>